{
  "openapi": "3.1.0",
  "info": {
    "title": "tilde-cloud",
    "description": "Cloud API server",
    "license": {
      "name": ""
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.trytilde.ai"
    }
  ],
  "paths": {
    "/api/v1/api/v1/team/{team_id}/chatkit/channels/slack/{chat_provider_id}/provider-provisioning/complete": {
      "post": {
        "summary": "Complete provider-provisioned Slack setup",
        "description": "Attaches provider-provisioned Slack app credentials to a pending custom Slack ChatKit provider.",
        "operationId": "chatkit-complete-slack-provider-provisioned-setup",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "Team ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chat_provider_id",
            "in": "path",
            "description": "Pending Slack chat provider ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "path",
            "description": "Team ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteSlackProviderProvisionedSetupRequestInner"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Complete provider-provisioned Slack setup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSlackChannelInstallationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      }
    },
    "/api/v1/billing/autumn/{operation}": {
      "post": {
        "tags": [
          "billing",
          "v1"
        ],
        "summary": "Autumn-js SDK bridge",
        "description": "Server-side proxy to Autumn. The path segment names an autumn-js RPC operation; the bridge translates it to Autumn's dotted REST path, injects `customer_id = org_id` (from the host subdomain) into the body, and forwards with the server's autumn secret. Bodies and response shapes follow Autumn's public API — this route is intentionally schema-opaque.",
        "operationId": "billing-autumn-bridge-post",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "description": "autumn-js RPC name (e.g. `getOrCreateCustomer`, `attach`, `listPlans`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Opaque JSON forwarded to Autumn",
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Upstream Autumn response body — see https://docs.useautumn.com/api-reference"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown autumn-js operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream Autumn error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/context": {
      "get": {
        "tags": [
          "billing",
          "v1"
        ],
        "summary": "Get organization billing context",
        "description": "Returns product subscriptions, effective access, human seat quantities, payment state, and Hindsight memory-bank capacity from the local billing projection.",
        "operationId": "billing-context-get",
        "responses": {
          "200": {
            "description": "Organization billing context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingContext"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Organization membership required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/internal/memory-banks/quantity": {
      "post": {
        "tags": [
          "billing",
          "v1"
        ],
        "summary": "Commit Hindsight memory-bank quantity",
        "description": "System-only lifecycle endpoint. A successful creation requires a live reservation_id in the body; omit it when recording a deletion or retrying an already-authoritative quantity.",
        "operationId": "billing-memory-bank-reservation-commit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommitMemoryBankReservationBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated memory-bank billing context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryBankBillingContext"
                }
              }
            }
          },
          "400": {
            "description": "Invalid quantity transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "System administrator required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Reservation expired or consumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/internal/memory-banks/reservations": {
      "post": {
        "tags": [
          "billing",
          "v1"
        ],
        "summary": "Reserve Hindsight memory-bank capacity",
        "description": "System-only lifecycle endpoint used by the Hindsight resource owner before creating one bank. The returned reservation must be committed or released.",
        "operationId": "billing-memory-bank-reservation-create",
        "responses": {
          "200": {
            "description": "Reserved memory-bank capacity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryBankCreationReservation"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Stripe payment action required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "System administrator required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Concurrent reconciliation in progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/internal/memory-banks/reservations/{reservation_id}": {
      "delete": {
        "tags": [
          "billing",
          "v1"
        ],
        "summary": "Release Hindsight memory-bank reservation",
        "description": "System-only lifecycle endpoint used when Hindsight resource creation fails after reserving capacity.",
        "operationId": "billing-memory-bank-reservation-release",
        "parameters": [
          {
            "name": "reservation_id",
            "in": "path",
            "description": "Reservation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated memory-bank billing context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryBankBillingContext"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "System administrator required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Reservation missing or no longer pending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/products/{product_id}/enroll": {
      "post": {
        "tags": [
          "billing",
          "v1"
        ],
        "summary": "Enroll current human in a product",
        "description": "Creates one deduplicated human Core or Pay seat, synchronizes the exact organization quantity with Autumn, and never bills machine or API-key identities.",
        "operationId": "billing-product-enroll-current-human",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "tilde_core or tilde_pay",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated organization billing context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingContext"
                }
              }
            }
          },
          "400": {
            "description": "Unknown product or machine caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Stripe payment action required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Organization membership required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Billing reconciliation did not complete before the bounded wait expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/redirect": {
      "get": {
        "tags": [
          "billing",
          "v1"
        ],
        "summary": "302 → tilde:// deep link from the `deep_link` query param",
        "description": "Generic browser-bounce used as the `success_url` / `cancel_url` for Stripe-hosted flows (Checkout, customer portal, SetupIntent) because Stripe rejects custom-scheme URLs there. The frontend builds `?deep_link=tilde://...` (encoded) and the desktop app intercepts the resulting navigation. The handler only accepts `tilde://...` URLs to prevent this route from being used as an open-redirect.",
        "operationId": "billing-redirect",
        "parameters": [
          {
            "name": "deep_link",
            "in": "query",
            "description": "The `tilde://` deep link to bounce the browser to. Must start with\nthe `tilde://` scheme — anything else is rejected so this route\ncan't be turned into an open-redirect gadget.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the desktop-app deep link"
          },
          "400": {
            "description": "deep_link missing or not a tilde:// URL"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/billing/webhooks/autumn/subscribe": {
      "post": {
        "tags": [
          "billing"
        ],
        "operationId": "autumn_webhook_handler",
        "parameters": [
          {
            "name": "svix-id",
            "in": "header",
            "description": "Svix message ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-timestamp",
            "in": "header",
            "description": "Svix message timestamp",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-signature",
            "in": "header",
            "description": "Svix message signature for verification",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Webhook payload from Svix",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid payload or missing headers"
          },
          "401": {
            "description": "Unauthorized - Invalid signature"
          },
          "500": {
            "description": "Internal Server Error - Failed to process webhook"
          }
        }
      }
    },
    "/api/v1/billing/webhooks/stripe": {
      "post": {
        "tags": [
          "billing",
          "v1"
        ],
        "summary": "Acknowledge deprecated direct Stripe webhooks",
        "description": "Returns success for stale Stripe webhook destinations. Billing state is updated exclusively from signed Autumn webhooks.",
        "operationId": "billing-webhook-stripe-deprecated",
        "responses": {
          "204": {
            "description": "Deprecated direct Stripe webhook acknowledged"
          }
        }
      }
    },
    "/api/v1/config": {
      "get": {
        "tags": [
          "_internal",
          "v1"
        ],
        "summary": "Runtime configuration",
        "description": "Returns public runtime configuration for the frontend. No authentication required.",
        "operationId": "get-runtime-config",
        "responses": {
          "200": {
            "description": "Runtime configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeConfig"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/credential/oauth-callback": {
      "get": {
        "summary": "Generic OAuth provider callback",
        "description": "Handles OAuth authorization-code redirects from external providers. No authentication required — the broker state id in `state` is the proof of the flow. Resumes user-credential brokering and either returns the brokered credential as JSON or HTTP-redirects the user back to the consumer-supplied `return_on_successful_brokering` URL.",
        "operationId": "credential_generic_oauth_callback",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "description": "Broker state id (set as `state` on the original auth URL).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "OAuth authorization code.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "error",
            "in": "query",
            "description": "OAuth error code (set on failure paths).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "error_description",
            "in": "query",
            "description": "Human-readable OAuth error description.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Brokered credential or HTTP redirect"
          }
        }
      }
    },
    "/api/v1/credential/provider-provisioning/{state_id}/callback": {
      "get": {
        "summary": "Resume provider provisioning from external callback",
        "description": "Public callback endpoint for provider provisioning redirect or manifest flows.",
        "operationId": "provider_provisioning_callback",
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "installation_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          },
          {
            "name": "setup_action",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider app provisioning response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderAppProvisioningResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "tags": [
          "health",
          "v1"
        ],
        "summary": "Health check",
        "description": "Check the health status of the service",
        "operationId": "health-check",
        "responses": {
          "200": {
            "description": "Health check successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/human-approval/{approval_id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Get a human approval action",
        "description": "Get a human approval action by id and secure token.",
        "operationId": "get_human_approval_action",
        "parameters": [
          {
            "name": "approval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Human approval action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HumanApprovalActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/human-approval/{approval_id}/cancel": {
      "post": {
        "tags": [
          "v1"
        ],
        "summary": "Cancel a human approval action",
        "description": "Cancel a pending human approval action.",
        "operationId": "cancel_human_approval_action",
        "parameters": [
          {
            "name": "approval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelHumanApprovalActionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Human approval action cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HumanApprovalActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/human-approval/{approval_id}/complete": {
      "post": {
        "tags": [
          "v1"
        ],
        "summary": "Complete a human approval action",
        "description": "Mark a pending human approval action complete.",
        "operationId": "complete_human_approval_action",
        "parameters": [
          {
            "name": "approval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteHumanApprovalActionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Human approval action completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HumanApprovalActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/.well-known/jwks.json": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "operationId": "route_get_jwks",
        "responses": {
          "200": {
            "description": "JWKS (JSON Web Key Set)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JwksResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      }
    },
    "/api/v1/identity/auth/authorize/{config_id}": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Start authorization",
        "description": "Initiates the OAuth/OIDC authorization flow by redirecting to the external IdP",
        "operationId": "route_start_authorization",
        "parameters": [
          {
            "name": "config_id",
            "in": "path",
            "description": "ID of the user auth flow configuration to use",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "Optional redirect URI after successful login",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "/"
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "OAuth client ID",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "code_challenge",
            "in": "query",
            "description": "PKCE code challenge",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "description": "PKCE code challenge method (must be \"S256\")",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Client CSRF state — passed back in redirect",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Optional email address used to enforce managed-domain login routing",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "screen_hint",
            "in": "query",
            "description": "Optional IdP screen hint, for example \"signup\" for Clerk-hosted sign-up",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to IdP authorization endpoint"
          },
          "404": {
            "description": "Configuration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      }
    },
    "/api/v1/identity/auth/callback": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Authorization callback",
        "description": "Handles the OAuth/OIDC callback from the external IdP, exchanges the authorization code for tokens",
        "operationId": "route_auth_callback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "Authorization code from the IdP",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "abc123"
          },
          {
            "name": "state",
            "in": "query",
            "description": "State parameter for CSRF validation",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "xyz789"
          },
          {
            "name": "error",
            "in": "query",
            "description": "Error from the IdP (if any)",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "access_denied"
          },
          {
            "name": "error_description",
            "in": "query",
            "description": "Error description from the IdP",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "User denied access"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to post-login URL with tokens set"
          },
          "400": {
            "description": "Invalid request or OAuth error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      }
    },
    "/api/v1/identity/auth/debug-profile": {
      "post": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Select debug auth profile",
        "description": "Validates the selected local debug refresh token, issues a fresh access token, and sets development auth cookies. Only available in debug builds.",
        "operationId": "route_select_debug_auth_profile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectDebugAuthProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Debug profile selected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid profile request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Debug refresh token invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Debug profile unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/identity/auth/debug-profiles": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "List debug auth profiles",
        "description": "Lists local development auth profiles from .tilde-test-credentials.json. Only available in debug builds.",
        "operationId": "route_list_debug_auth_profiles",
        "responses": {
          "200": {
            "description": "Available local debug auth profiles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebugAuthProfilesResponse"
                }
              }
            }
          },
          "404": {
            "description": "Debug profiles unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/identity/auth/login-provider": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Resolve login provider",
        "description": "Resolve an email address to either an organization OIDC provider or the default Clerk provider",
        "operationId": "route_resolve_login_provider",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Email address to use for login-provider routing",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resolved login provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveLoginProviderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/identity/auth/logout": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Logout",
        "description": "Revokes active upstream identity sessions when configured, clears Tilde access and refresh token cookies, and redirects",
        "operationId": "route_logout",
        "parameters": [
          {
            "name": "redirect_uri",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Logout successful, redirecting to /"
          }
        },
        "security": [
          {},
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      }
    },
    "/api/v1/identity/auth/refresh": {
      "post": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Refresh access token",
        "description": "Refreshes an access token using a refresh token from the request body or cookie",
        "operationId": "route_refresh_token",
        "requestBody": {
          "description": "Optional refresh token in body. If not provided, will be read from cookie.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "$ref": "#/components/schemas/RefreshTokenRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refresh successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      }
    },
    "/api/v1/identity/auth/whoami": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Get current identity",
        "description": "Returns the current authenticated identity along with their organizations, teams, and groups",
        "operationId": "whoami",
        "responses": {
          "200": {
            "description": "Current identity with orgs, teams, and groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudWhoamiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/invitations/accept": {
      "post": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Accept invitation",
        "description": "Accept an invitation after verifying the authenticated email and invitation password",
        "operationId": "accept-invitation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptInvitationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInvitation"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/local-runtime/tunnel-connector": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Get local runtime tunnel connector",
        "description": "Validates the caller's Tilde credentials and returns their Cloudflare tunnel connector token for cloudflared.",
        "operationId": "get_local_runtime_tunnel_connector",
        "responses": {
          "200": {
            "description": "Cloudflare tunnel connector token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalRuntimeTunnelConnector"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Local runtime tunnels unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      }
    },
    "/api/v1/identity/oauth/device/authorize": {
      "get": {
        "tags": [
          "identity"
        ],
        "summary": "Authorize OAuth device code",
        "description": "Approves a pending OAuth device-code request for the authenticated user.",
        "operationId": "authorize_oauth_device_code",
        "parameters": [
          {
            "name": "user_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device authorization approved"
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Device code not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_token": []
          }
        ]
      }
    },
    "/api/v1/identity/oauth/device/code": {
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Start OAuth device authorization",
        "description": "Starts OAuth 2.0 Device Authorization Grant for first-party CLI clients.",
        "operationId": "start_oauth_device_code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartOAuthDeviceCodeBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Device authorization created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartOAuthDeviceCodeResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unsupported client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/identity/oauth/register": {
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Register OAuth client",
        "description": "Register a public PKCE OAuth client through Dynamic Client Registration. The registration must be scoped to a Tilde org/team by explicit org_id/team_id fields, the x-tilde-org-id header plus team_id, or a Tilde MCP resource URL.",
        "operationId": "register_oauth_client",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterOAuthClientRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OAuth client registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterOAuthClientResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid registration request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/identity/oauth/token": {
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Exchange PKCE authorization code for tokens",
        "description": "Exchange a short-lived PKCE authorization code for a fresh access token and refresh token. Requires code_verifier, client_id, and redirect_uri to match the original authorization request. Body may be either `application/x-www-form-urlencoded` (RFC 6749 §3.2 — preferred for external OAuth clients) or `application/json`.",
        "operationId": "exchange_oauth_code",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ExchangeOAuthCodeBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tokens issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeOAuthCodeResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid or expired code"
          }
        }
      }
    },
    "/api/v1/identity/organizations": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "List organizations",
        "description": "List organizations with pagination",
        "operationId": "list-organizations",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "style": "form"
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Create organization",
        "description": "Create a new organization",
        "operationId": "create-organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/organizations/{org_id}/openbot/deployments": {
      "post": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Create a hosted OpenBot instance",
        "description": "Creates an isolated Tilde team, one Vercel runtime project containing the web app, control API, and agent functions, a persistent Vercel Sandbox with local Git and a deterministic Vercel project domain, and OIDC-backed AI Gateway access, then starts deployment. Deprecated control and agent project response fields mirror the runtime project for compatibility. Custom Cloudflare DNS is a follow-up.",
        "operationId": "create_hosted_openbot_deployment",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Owning Tilde organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHostedOpenBotDeploymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hosted OpenBot provisioning started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostedOpenBotDeployment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid title or slug",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not an organization administrator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Hosted OpenBot provisioning is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      }
    },
    "/api/v1/identity/organizations/{organization_id}": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Get organization",
        "description": "Retrieve an organization by ID",
        "operationId": "get-organization",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Delete organization",
        "description": "Delete an organization by ID",
        "operationId": "delete-organization",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization deleted"
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Update organization",
        "description": "Update an organization's attributes",
        "operationId": "update-organization",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization updated"
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/organizations/{organization_id}/members": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "List organization members",
        "description": "List members of an organization",
        "operationId": "list-organization-members",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "style": "form"
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "name": "user_type",
            "in": "query",
            "description": "Filter to `human` users or `machine` agents.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organization members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMemberWithUserPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Add organization member",
        "description": "Add a user to an organization",
        "operationId": "add-organization-member",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrganizationMemberRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Member added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserOrganization"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/organizations/{organization_id}/members/{user_id}": {
      "delete": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Remove organization member",
        "description": "Remove a user from an organization",
        "operationId": "remove-organization-member",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member removed"
          },
          "404": {
            "description": "Membership not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Update organization member role",
        "description": "Move an organization member between the organization member and organization admin system groups",
        "operationId": "update-organization-member-role",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationMemberRoleBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization member role updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserOrganization"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Membership not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/organizations/{organization_id}/oidc-providers": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "List organization OIDC providers",
        "description": "List custom OIDC providers for an organization",
        "operationId": "list-org-oidc-providers",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization OIDC providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgOidcProviderPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      },
      "post": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Create organization OIDC provider",
        "description": "Create a custom OIDC provider for an organization",
        "operationId": "create-org-oidc-provider",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrgOidcProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization OIDC provider created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgOidcProvider"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      }
    },
    "/api/v1/identity/organizations/{organization_id}/oidc-providers/{provider_id}": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Get organization OIDC provider",
        "description": "Get one custom OIDC provider for an organization",
        "operationId": "get-org-oidc-provider",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "path",
            "description": "OIDC provider ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization OIDC provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgOidcProvider"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Delete organization OIDC provider",
        "description": "Delete one custom OIDC provider for an organization",
        "operationId": "delete-org-oidc-provider",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "path",
            "description": "OIDC provider ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization OIDC provider deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      },
      "patch": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Update organization OIDC provider",
        "description": "Update one custom OIDC provider for an organization",
        "operationId": "update-org-oidc-provider",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "path",
            "description": "OIDC provider ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrgOidcProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization OIDC provider updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgOidcProvider"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      }
    },
    "/api/v1/identity/organizations/{organization_id}/oidc-providers/{provider_id}/verify-domain": {
      "post": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Verify organization OIDC provider domain",
        "description": "Verify an organization OIDC provider email domain by checking its DNS TXT record",
        "operationId": "verify-org-oidc-provider-domain",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "path",
            "description": "OIDC provider ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization OIDC provider domain verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgOidcProvider"
                }
              }
            }
          },
          "400": {
            "description": "DNS TXT record is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "bearer_token": []
          }
        ]
      }
    },
    "/api/v1/identity/organizations/{organization_id}/teams": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "List teams",
        "description": "List teams within an organization",
        "operationId": "list-teams",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "style": "form"
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "List of teams",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Create team",
        "description": "Create a new team within an organization",
        "operationId": "create-team",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Team created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/profile": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Get my profile",
        "description": "Return the authenticated user's editable profile and readonly group memberships.",
        "operationId": "get-self-profile",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Update my profile",
        "description": "Update the authenticated user's display name. Email is immutable here.",
        "operationId": "update-self-profile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSelfProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/profile/avatar": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Download my profile avatar",
        "description": "Return the authenticated user's uploaded image or OpenBot avatar reference.",
        "operationId": "get-self-avatar",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Upload my profile avatar",
        "description": "Upload a PNG, JPEG, or WebP avatar up to 2 MiB.",
        "operationId": "upload-self-avatar",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfProfileAvatarResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Delete my profile avatar",
        "description": "Remove the authenticated user's profile avatar.",
        "operationId": "delete-self-avatar",
        "responses": {
          "200": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/profile/avatar/openbot": {
      "put": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "Set my OpenBot avatar",
        "description": "Select a deterministic animated OpenBot avatar by ID.",
        "operationId": "set-self-openbot-avatar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetOpenBotAvatarRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfProfileAvatarResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/team-groups": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "summary": "List organization team groups",
        "description": "List user-managed groups across every team in the current organization; requires organization administration",
        "operationId": "list-organization-team-groups",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "style": "form"
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "name": "user_type",
            "in": "query",
            "description": "Filter to `human` users or `machine` agents.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "User-managed groups across organization teams",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamGroupSummaryPaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/team/{team_id}/api-key": {
      "get": {
        "tags": [
          "identity",
          "v1"
        ],
        "operationId": "route_list_api_keys",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "Team ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "user_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "team_id",
            "in": "path",
            "description": "Team ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
[...]
